* {
    box-sizing: border-box;
}

.wrapper {
    text-align: center;
}

.btn {
    background-color: rgba(213, 35, 248, 0.767);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;

}