* {
    box-sizing: border-box;
}

.wrapper {
    text-align: center;
    margin: 20px auto;
}

.btn {
    background-color: rgba(11, 34, 133, 0.877);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;


}

.btn:hover {
    background-color: rgba(213, 35, 248, 0.767);
}
#timer {
    text-align: end;
    margin-right: 15px;

}

.hide {
    display: none;
}

.show{
    display: block;
    
}


